[Unit]
Description=Delayed Mount of USB Drives
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 15
ExecStart=/bin/remount.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target


